# since we're housing multiple related snaps in the same repository,
# make sure that requirements don't conflict across the snaps
-e control
-e reporting
-e server
-e vpn

mypy==1.9.0
pytest==8.1.1
pytest-cov==5.0.0
ruff==0.3.4
types-requests==2.31.0.20240311
types-setuptools==69.2.0.20240317
